<header>
  <h4>{{ $ctrl.env.Name }}</h4>
  <h5>
    <status dib="$ctrl.env.Dibs"></status>
  </h5>
</header>

<section class="dibs-environment-popup dibs-popup">

  <project item="item" ng-repeat="item in $ctrl.env.Items | orderBy:'Project.Name'"></project>
  <div class="empty-project" ng-if="!$ctrl.env.Items.length">
    <h5>No projects on this environment</h5>
  </div>

  <footer ng-if="$ctrl.env.Items.length">
    <button class="btn btn-clear" ng-click="$ctrl.clearAll()">Clear All</button>
    <button class="btn btn-claim" ng-click="$ctrl.claimAll()">Claim All</button>
  </footer>

</section>