.dibs--app {

  // faking bootstrap styles for the different states

  // warning
  .btn-clear{
    &:hover {
      background: #f3aa41;
      border-color: #f19a1f #f19a1f #e38b0e !important;
      color: #fff;
    }
    &:active {
      background: #f3a537;
      border-color: #f09411 #f09411 #c2770c !important;
      color: #fff;
    }
  }

  // primary
  .btn-claim {
    &:hover {
      background: #1a7ab9;
      border-color: #1871ab #1871ab #12547e !important;
      color: #fff;
    }
    &:active {
      background: #1a7dbd !important;
      border-color: #146090 #146090 #146090 !important;
      color: #fff;
    }
  }

}